
{% extends 'base.html' %}
{% block content %}

<section id="about-us" style="margin-top: 10px; text-align: center;width: 100%;"> 
    <div class="container" style="padding-top: 20px; " >
        <h1 style="margin-bottom: 20px;">About Us</h1>
        <p class="aboutus">Welcome to City Hospital, a beacon of healthcare excellence where we are steadfastly committed to providing exceptional healthcare services to our community. As a leading institution in the healthcare industry, City Hospital stands at the forefront of medical innovation, patient care, and community well-being.</p>

        <h5>Our Mission</h5>
        <p class="aboutus">At City Hospital, our mission is deeply rooted in the commitment to deliver high-quality, compassionate healthcare services with an unwavering focus on patient-centered care. We are dedicated to promoting wellness, preventing illness, and providing advanced and accessible medical treatments to individuals from all walks of life. Our mission drives us to continuously strive for excellence and set new standards in healthcare delivery.</p>

        <h5>Our Team</h5>
        <p class="aboutus">Our team at City Hospital comprises a diverse group of highly experienced and skilled medical professionals. From our renowned doctors and compassionate nurses to our dedicated support staff, every individual plays a pivotal role in creating a healing environment. We work collaboratively, combining our expertise to meet the unique needs of each patient and deliver personalized care that goes beyond expectations. Our team's commitment to continuous learning and professional development ensures that we stay at the forefront of medical advancements.</p>

        <h5>Facilities</h5>
        <p class="aboutus">City Hospital takes pride in being equipped with state-of-the-art facilities and cutting-edge technology. Our commitment to excellence ensures accurate diagnoses and effective treatments. From advanced medical equipment to comfortable and modern amenities, we have created an environment that fosters healing and recovery. We prioritize the safety and well-being of our patients, maintaining a space that is both welcoming and secure. Our commitment to providing top-notch facilities reflects our dedication to delivering the highest standards of healthcare.</p>

        <h5>Community Engagement</h5>
        <p class="aboutus">Beyond our walls, City Hospital is deeply involved in community engagement initiatives. We believe in giving back to the community that has entrusted us with their health. Our outreach programs, health education seminars, and partnerships with local organizations reflect our commitment to creating a healthier and more informed community. Community engagement is an integral part of our mission, and we are actively working towards making a positive impact beyond the boundaries of our hospital.</p>
    </div>
</section>

{% endblock %}