{% extends 'base.html' %}
{% block content %}

<section id="contact-us" style="margin-top: 20px;text-align: center; padding-top: 30px; padding-bottom: 20px;">
    <div class="container">
        <h2>Contact Us</h2>

        <div class="contact-details">
            <p>For inquiries or appointments, please contact us using the information below:</p>

            <div class="hospital-info" style="margin-top: 30px;">
                <p><strong>Hospital Name:</strong> City Hospital</p>
                <p><strong>Address:</strong> City Hospital, Prestige Road, Trivandrum, Kerala</p>
                <p><strong>Phone:</strong> 0472-936 728</p>
                <p><strong>Email:</strong> <a style="text-decoration: underline; color: black;" href="mailto:info@example.com">info@example.com</a></p>
            </div>


           
        </div>
    </div>
</section>
{% endblock %}
